

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.hero-btns {
  margin-top: 45vh;
}
  h1 {
    font-size: 45px;
    color: #A2D7AA
  }

  p{
    font-size: 30px;
    font:fantasy;
  }



  