.cart {
    margin-top: 107.5px
}

.empty-cart {
    color: white;
    text-align: center;
}

.cart-1 {
    color: white;
    text-align: center;
}

.card-details h4 {
    color:white
}