body {
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(bg.jpg) no-repeat;
    background-size: cover;
    background-color: palevioletred;
}
.login-form {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-form-button {
    text-align: center;
    width: 100%;
}

button:hover {
    opacity: 0.8;
  }
  

.login-from h1 {
    float: left;
    font-size: 40px;
    border-bottom:6px solid #4caf40;
    margin-bottom: 50px;
    padding: 13px 0;
}

.ant-row ant-form-item {
    border: none;
    outline: none;
    background: none;
    color: white;
}

.form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }