<html lang='en'>
{% load static %}
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/css/main2.css'%}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static '/images/target.png' %}" class='float-left' alt="my sammich">
                <p>{{first.store_name}}</p>
                <p>Top Cat! The most effectual Top Cat! Who’s intellectual close friends get to call him T.C., providing it’s with dignity. Top Cat! The indisputable leader of the gang. He’s the boss, he’s a pip, he’s the championship. He’s the most tip top, Top Cat. </p>
                <p class="clearfix"></p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/images/walmart.png' %}" class='float-left ' alt="my sammich">
                <p>{{second.store_name}}</p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static '/images/staterbros.png' %}" class='float-left ' alt="my sammich">
                <p>{{third.store_name}}</p>
                <p class="clearfix"></p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/images/vons.png' %}" class='float-left ' alt="my sammich">
                <p>{{fourth.store_name}}</p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static '/images/target.png' %}" class='float-left ' alt="my sammich">
                <p>{{fifth.store_name}}</p>
                <p class="clearfix"></p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/images/vons.png' %}" class='float-left ' alt="my sammich">
                <p>{{sixth.store_name}}</p>
                <p> #ad</p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static '/images/vons.png' %}" class='float-left ' alt="my sammich">
                <p>{{seventh.store_name}}</p>
                <p class="clearfix"></p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/images/target.png' %}" class='float-left ' alt="my sammich">
                <p>{{eighth.store_name}}</p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static '/images/sandwich.png' %}" class='float-left ' alt="my sammich">
                <p>{{nineth.store_name}}</p>
                <p class="clearfix"></p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/images/walmart.png' %}" class='float-left ' alt="my sammich">
                <p>{{tenth.store_name}}</p>
                <p class="clearfix"></p>
            </div>
        </div>
    </div>
</body>

</html>